<div class="container center">
<h1>Welcome to Puppy Finder Page</h1>
<h2>Puppy Finder is an online marketplace for buying and selling puppies</h2
</div>
<br>
<br>
<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
  <h4> There is no shortcut when you want to breed dogs responsibly: there are expenses, difficulties, emergencies, but these are not what matters right now. Knowledge is what every single breeder should have. Knowledge of how dog breeding works, how to improve your dogs generation after generation, but also knowledge of what to expect in terms of challenges and expenditures. </h4>
  </div>
  <div class="col-6 col-md-2"></div>
</div>





