<div class="container center lower">
<h1>Welcome to PHarmony</h1>
<h2>pHarmony is an online site for people who are looking for furever Puppy Love!</h2
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
  <%= image_tag("Puppies-2.jpg", width: '500px') %>
  </div>
  <div class="col-sm-6">
  <h4> There is no shortcut when you want to breed dogs responsibly: there are expenses, difficulties, emergencies, but these are not what matters right now. Knowledge is what every single breeder should have. Knowledge of how dog breeding works, how to improve your dogs generation after generation, but also knowledge of what to expect in terms of challenges and expenditures. </h4>
  <h2 class = "center"> Our Reputable Breeders</h2>
  <br>
  <h4>Reputable breeders only produce a litter with the goal of improving their breed and with the full intent of keeping a puppy from the litter with which to continue their efforts.  They do not breed to make money, to supply the pet market during a wave of breed popularity, to give the kids a sex education, or simply because they happen to have two dogs of the same breed on the premises. </h4>
  </div>
  <div class="col-6 col-md-2"></div>
</div>





