/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

 .main-h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 0px;
  padding-top: 180px;
  text-shadow: 2px 2px 15px #fdfdfd;
  
}

.main-h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 2.75em;
  font-weight: bold;
  padding-bottom: 0px;
  text-shadow: 2px 2px 10px #0a0a0a;
}

 body {
    background-color: #F5F5F1;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
  }
 .navbar-default {
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
    z-index:10;
    margin-bottom: 0px;
    top: 10px;
    width: 100%;
    border: 0;
    }
 .navbar-default .navbar-brand {
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #ff0000;
    font-size: 20px;
    padding-top: 0px;
  }
 .navbar-default .navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #050505;
  }
  .navbar-header .navbar-brand {
    padding-top: 0px;
  }
  .navbar .container { min-height: 70px; }

 .center {
    text-align: center;
    padding-top: 20px;
  }

 .container-footer {
    padding-top: 25px;
 }

 .col-md-3:nth-child(4n+1) {
    clear: left;
  }
.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
.sold-by {
  padding-bottom: 10px;
}
.ddefr {
  background-image: url('https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg');
  /* Full height */
  height: 100%; 
  min-height: 800px;
  top: -20px;
  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.P-listings {
  background-image: url('find-puppies-4.jpg');
  background-repeat: no repeat;
  min-height: 300px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 50px;
  padding-top: 50px;
  text-shadow: 2px 2px 15px #fdfdfd;
}

.row-1 { 
  margin: 20px;
  padding-bottom: 20px;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px rgb(121, 114, 114);
  padding: 1.5em 1.25em;
  min-height: 400px;
  margin-bottom: 40px;
  }

  .carousel-example {
    height: 100%;
    width: 100%;
    position: fixed;

  }

  .middle {
    font-weight: bolder;
    padding-bottom: 50px;
    font-size: 3em;
  }

  .breeder {
    padding-top: 70px;

  }

  .puppy {
    padding-top: 70px;
  }

  .center-block {
    float:none;
  }

  .chat-container {
    bottom: 0;
    left: 0;
    right: 0;
    top: 140px;
    width: 80;
    color: black;
  }
  .message-container {
    .form-control {
      float: left;
      width: 80%;
      height: 100px;
      border: 2px solid black;
    }
    .btn {
      float:right;
      position:relative;
      height: 54px !important;
      width: 18%;
    }
  }
  .message {
    padding-left: 25px;
    padding-top: 10px;
  }

  .messages {
    border: 2px solid #383131;
    height: 16em;
    position: relative;
    overflow: auto;
  }

  .lower {
    margin-top: 100px;
  }

  .alert {
    margin-top: 75px;
  }

  .footer {
    margin-top: 55px;
    color: black;
    align-content: center;
  }