/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 

 .main-h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 0px;
  padding-top: 150px;
  text-shadow: 2px 2px 15px #fdfdfd;
  
}

.main-h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2.75em;
  font-weight: bold;
  padding-bottom: 0px;
  text-shadow: 2px 2px 10px #0a0a0a;
}

 body {
    background-color: #F5F5F1;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
  }
 .navbar-default {
    background-color: #e7e7e7;
    opacity: 0.9;
    margin-bottom: 0px;
  }
 .navbar-default .navbar-brand {
    font-family: guardian-egyptt, georgia, serif;
    font-weight: 400;
    color: #d5641c;
    font-size: 40px;
  }
 .navbar-default .navbar-nav > li > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #d5641c;
  }

 .center {
    text-align: center;
    padding-top: 20px;
  }

 .container-footer {
    padding-top: 25px;
 }

 .col-md-3:nth-child(4n+1) {
    clear: left;
  }
.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
.sold-by {
  padding-bottom: 10px;
}
.ddefr {
  background-image: url('https://static.pexels.com/photos/374906/pexels-photo-374906.jpeg');
  background-size: 100% ;
  background-repeat: no-repeat;
  min-height:800px;
  
}

.P-listings {
  background-image: url('find-puppies-4.jpg');
  background-repeat: no repeat;
  min-height: 300px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 4em;
  font-weight: bolder;
  padding-bottom: 50px;
  padding-top: 50px;
  text-shadow: 2px 2px 15px #fdfdfd;
}

.row-1 { 
  margin: 20px;
  padding-bottom: 20px;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px rgb(121, 114, 114);
  padding: 1.5em 1.25em;
  min-height: 400px;
  margin-bottom: 40px;
  }

  .carousel-example {
    height: 100%;
    width: 100%;
    position: fixed;

  }

  .middle {
    font-weight: bolder;
    padding-bottom: 50px;
    font-size: 3em;
  }